coqa_utils_test.py
coqa-dev-v1.0.json
coqa-dev-v1.0.json_bert-base-uncased_384_128_64
coqa-dev-v1.0.json_examples.pk
coqa-train-v1.0.json
coqa-train-v1.0.json_bert-base-uncased_384_128_64
CoQAPreprocess.py
CoQAUtils.py
dev-v2.0.json
GeneralUtils.py
log.txt
nohup.out
parallel.py
run_squad_dataset_utils.py
run.sh
SDNetTrainer.py
squad_utils_test.py
train-v2.0.json
.vscode/launch.json
__pycache__/GeneralUtils.cpython-37.pyc
__pycache__/parallel.cpython-37.pyc
__pycache__/run_coqa_dataset_utils.cpython-37.pyc
__pycache__/run_squad_dataset_utils.cpython-37.pyc
out/config.json
out/nbest_predictions.json
out/predictions.json
out/pytorch_model.bin
out/training_args.bin
out/truths.json
out/vocab.txt
runs/Jul08_21-24-19_amax/events.out.tfevents.1562592259.amax
